.votecard {
    position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-family: Helvetica,"sans-serif";
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
  padding: 10px 10px 10px 10px;
  background-color: rgb(60, 14, 150);
  border-radius: 4px;
  animation: ease infinite colorchange 25s;
  -webkit-animation: ease infinite colorchange 25s; /* Chrome and Safari */
}
@keyframes colorchange
{
  0%   {background: red;}
  12%  {background: magenta;}
  25%  {background: blue;}
  38%  {background: green;}
  50% {background: red;}
  62%  {background: green;}
  75%  {background: blue;}
  87%  {background: magenta;}
  100%   {background: red;}
}
@keyframes colorchangetext
{
  0%   {color: rgb(37, 2, 2);}
  25%  {color: rgb(90, 92, 8);}
  50%  {color: rgb(0, 13, 84);}
  75%  {color: rgb(7, 46, 22);}
  100% {color: rgb(68, 15, 4);}
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.votecardsuper {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  text-align: center;
  background-color: rgb(187, 35, 209);
  color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
}
#playerScores table {
  border-spacing: 0 15px;
}
#playerScores table tbody tr td {
  width: 49%;
  display: inline-block;
}
#playerScores table tbody tr td h3, p {
  margin-bottom: 0px;
}
